@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,700&family=Oxanium:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
// Page Colors
$primary: #fb841b;
$primary-light: #fdc9ad;
$secondary: #1aaea7;
$secondary-light: #abe1df;
$white: #ffffff;
$light: #c8c8c8;
$medium: #a5a5a5;
$black: #000000;
$dark: #2a2a2a;
$dark-light: #5c5c5c;
$page-bg: #363434;

// Other Configs
$ws-page-width: 1400px;
$hamburger-menu-speed: 0.75s;
